<a href="https://colab.research.google.com/github/LeoVogiatzis/medical_data_analysis/blob/main/Eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install pandas-profiling
from pandas_profiling import ProfileReport
import seaborn as sns
%matplotlib notebook
%matplotlib inline

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (3.2.2)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling) (1.1.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.8->pandas-profiling) (1.1.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pandas-profiling) (2018.9)

In [ ]:
data = pd.read_csv('/content/Thyroid_Sick.csv')
data.head(10)

FileNotFoundError: ignored

In [ ]:
data.describe()

               age          TSH           T3  ...          T4U          FTI  TBG
count  3771.000000  3403.000000  3003.000000  ...  3385.000000  3387.000000  0.0
mean     51.735879     5.086766     2.013500  ...     0.995000   110.469649  NaN
std      20.084958    24.521470     0.827434  ...     0.195457    33.089698  NaN
min       1.000000     0.005000     0.050000  ...     0.250000     2.000000  NaN
25%      36.000000     0.500000     1.600000  ...     0.880000    93.000000  NaN
50%      54.000000     1.400000     2.000000  ...     0.980000   107.000000  NaN
75%      67.000000     2.700000     2.400000  ...     1.080000   124.000000  NaN
max     455.000000   530.000000    10.600000  ...     2.320000   395.000000  NaN

[8 rows x 7 columns]

In [ ]:
#data.describe(include=[object])
# data.describe(include=[data]) 
data['referral source'].unique()
data.drop(columns=['referral source'], inplace=True)

In [ ]:
data.loc[:, ~data.columns.str.endswith("measured")]

       age sex on thyroxine query on thyroxine  ...   T4U    FTI TBG     Class
0     41.0   F            f                  f  ...  1.14  109.0 NaN  negative
1     23.0   F            f                  f  ...   NaN    NaN NaN  negative
2     46.0   M            f                  f  ...  0.91  120.0 NaN  negative
3     70.0   F            t                  f  ...   NaN    NaN NaN  negative
4     70.0   F            f                  f  ...  0.87   70.0 NaN  negative
...    ...  ..          ...                ...  ...   ...    ...  ..       ...
3767  30.0   F            f                  f  ...   NaN    NaN NaN  negative
3768  68.0   F            f                  f  ...  1.08  114.0 NaN  negative
3769  74.0   F            f                  f  ...  1.07  105.0 NaN  negative
3770  72.0   M            f                  f  ...  0.94   87.0 NaN  negative
3771  64.0   F            f                  f  ...  1.07   92.0 NaN  negative

[3772 rows x 23 columns]

In [ ]:

data.replace(['f', 't'], [0, 1], inplace=True)
data.replace(['F', 'M'], [0, 1], inplace=True)
data.replace(['negative', 'sick'], [0, 1], inplace=True)

In [ ]:
data

       age  sex  on thyroxine  ...  TBG measured  TBG  Class
0     41.0  0.0             0  ...             0  NaN      0
1     23.0  0.0             0  ...             0  NaN      0
2     46.0  1.0             0  ...             0  NaN      0
3     70.0  0.0             1  ...             0  NaN      0
4     70.0  0.0             0  ...             0  NaN      0
...    ...  ...           ...  ...           ...  ...    ...
3767  30.0  0.0             0  ...             0  NaN      0
3768  68.0  0.0             0  ...             0  NaN      0
3769  74.0  0.0             0  ...             0  NaN      0
3770  72.0  1.0             0  ...             0  NaN      0
3771  64.0  0.0             0  ...             0  NaN      0

[3772 rows x 29 columns]

In [ ]:
target = pd.DataFrame(data['Class'])
data.drop(columns=['Class'], inplace=True)

In [ ]:
from sklearn.impute import KNNImputer

# nan = np.nan
imputer = KNNImputer(n_neighbors=5, weights="uniform")
data = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

ValueError: ignored

In [ ]:
# !pip install sweetviz
import sweetviz as sv

#EDA using Autoviz
sweet_report = sv.analyze(data)

#Saving results to HTML file
sweet_report.show_html('sweet_report.html')

AttributeError: ignored

In [ ]:
corr_df = data.copy()
corr_df.drop(columns=['TBG'], axis=True, inplace=True)
plt.figure(figsize=(8,6))
sns.heatmap(corr_df.corr(),cmap=plt.cm.Reds,annot=True)
plt.title('Heatmap displaying the relationship between\nthe features of the data',
         fontsize=13)
plt.show()

In [ ]:
corr_df.hist(figsize=(12,6),bins=100)
plt.show()

In [ ]:
f, axes = plt.subplots(1, 7, figsize=(15, 5), sharex=False,sharey=True)
sns.countplot(x='sick',data=data,ax=axes[0],palette="Set2")
sns.countplot(x='sex',data=data,ax=axes[1],palette="Set2")
sns.countplot(x='pregnant',data=data,ax=axes[2],palette="Set2")
sns.countplot(x='lithium',data=data,ax=axes[3],palette="Set2")
sns.countplot(x='tumor',data=data,ax=axes[4],palette="Set2")
sns.countplot(x='Class',data=data,ax=axes[5],palette="Set2")
sns.countplot(x='psych',data=data,ax=axes[6],palette="Set2")
plt.title('Categorical Bar charts', fontsize=20, loc='left')
data.columns

In [ ]:
#data.dropna(inplace=True)
data.isna
data.isnull
# numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
# newdf = data.select_dtypes(include=numerics)
#sns.pairplot(data.drop("TBG", axis=1), hue="Class", size=3)
#data
# example of a ordinal encoding

In [ ]:
lk# sns.set()
cols = ['age', 'sex', 'query on thyroxine','on antithyroid medication', 'pregnant','Class']
sns.pairplot(data[cols], height = 2.5)
plt.show()